body{
    background-image:url('imagens/pattern002.png') ;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    box-shadow: 2px 2px 2px purple;
    background-size: cover;
    margin: 0;
 
   
    

}

.container {
    min-width: 250px;
    max-width: 600px;
    margin: 0 auto;

}

.foto-principal {
    border-radius: 30%;
    border: 10px solid purple;
    margin: 20px 10px 50px 20px ;
    box-shadow: 10px 10px 10px purple;

}
.profile {
    text-align: center;
    margin-bottom: 40px;
}

.social-links {
    text-decoration: none;
}

.social-icons {
    width: 40px;
    height: 40px;
    text-decoration: none;
    
}

.facebook {
    margin: 0 15px;
}





h1{ 
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;

}

.contato {
    font-weight: 900;
    font-style: italic;
    margin-bottom: 40px;
    

    
}





main{
    background-color: rgb(238, 179, 227);
    margin: center;  
    text-align: justify;
    line-height: 2em;
    min-width: 300px;
    max-width: 900px;          
    padding: 20px;
    box-shadow: 5px 5px 5px purple;
}
  img{
    width:323px;
    height: 350px;
    
}

.footer{
    background: black;
    color: aliceblue;
    text-align: center;
    padding: 10px 0;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px rgb(6, 6, 6) ;
    
     
}

